.git
.github
.hermit
.svelte-kit
.tmp
bin/*/
!bin/linux-build/
build
config/rbac
node_modules
test/data/crds
apps/konfidence-ui-prototype/.svelte-kit
apps/konfidence-ui-prototype/build
apps/konfidence-ui-prototype/node_modules
apps/konfidence-ui-prototype/test-results
*.out
*.tgz
