@import "@sap-theming/theming-base-content/content/Base/baseLib/sap_horizon/css_variables.less";

@konfidenceOrangeLight: #ffd600;
@konfidenceOrange: #ffaa00;
@konfidenceOrangeDark: #ff960c;
@konfidenceBlueLight: #80d2e0;
@konfidenceBlue: #139cc7;
@konfidenceBlueDark: #0e7fa3;

@sapFontFamily:
  "Inter",
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  sans-serif;
@sapFontHeaderFamily: @sapFontFamily;
@sapFontLightFamily: @sapFontFamily;
@sapFontBoldFamily: @sapFontFamily;
@sapFontSemiboldFamily: @sapFontFamily;
@sapFontSemiboldDuplexFamily: @sapFontFamily;
@sapFontBlackFamily: @sapFontFamily;
@sapBrandColor: @konfidenceBlue;
@sapHighlightColor: @konfidenceBlue;
@sapSelectedColor: @konfidenceBlue;
@sapShellColor: #ffffff;
@sapShell_TextColor: @konfidenceBlueDark;
@sapShell_InteractiveTextColor: @konfidenceBlueDark;
@sapShell_InteractiveBorderColor: @konfidenceBlue;
@sapShell_Hover_Background: fade(@konfidenceBlue, 12%);
@sapContent_IconColor: @konfidenceBlue;
@sapList_SelectionBackgroundColor: fade(@konfidenceBlue, 10%);
@sapList_SelectionBorderColor: @konfidenceBlue;
@sapButton_Emphasized_Background: @konfidenceBlue;
@sapButton_Emphasized_BorderColor: @konfidenceBlue;
@sapButton_FontFamily: @sapFontFamily;
@sapButton_Emphasized_FontFamily: @sapFontFamily;
@sapButton_Emphasized_Hover_Background: @konfidenceBlueDark;
@sapButton_Emphasized_Hover_BorderColor: @konfidenceBlueDark;
@sapButton_Hover_Background: fade(@konfidenceBlue, 12%);
@sapButton_Hover_BorderColor: @konfidenceBlueLight;
@sapObjectHeader_Title_FontFamily: @sapFontFamily;
@sapAssistant_Color1: @konfidenceOrangeDark;

:root {
  --konfidence-orange-light: @konfidenceOrangeLight;
  --konfidence-orange: @konfidenceOrange;
  --konfidence-orange-dark: @konfidenceOrangeDark;
  --konfidence-blue-light: @konfidenceBlueLight;
  --konfidence-blue: @konfidenceBlue;
  --konfidence-blue-dark: @konfidenceBlueDark;
}
